{% extends "base.html" %}
{% block content %}
<title>Menci</title>
  <section>
    <div class="box box1">
      <h2>
        <span>
          <img class="cool_pic" src="../static/assets/png-white.png">
        </span>
        <span>Tunisian based brand</span>
      </h2>
    </div>
    <div class="box box2">
      <h2>
        <span>
          <img class="cool_pic" src="../static/assets/png-black.png">
        </span>
        <span>Made by 2 Teenagers</span>
      </h2>
    </div>
  </section>
  <div class="btn_container">
    <a class="electric" href="products"><span>Show Products</span></a>
  </div>
{% endblock %}